:root{
--text-color:
--text-color-secondary:#b3c5cd;
--primary-color:#21b6b7;

 --background-color:#f9f9f9;
 --background-color-dark:#eef3f6;
 --background-color-light:white;
 --font-family:"Poppins",sans-serif;
 --box-showdow:0 2px 8px rgba(0,0,0,0.5);


}

html,
body {

padding: 0;
margin:0 ;
font-family: var(--font-family);
background-color: var(--background-color);
color: var(--text-color);

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
